
@import '../../../node_modules/ant-design-vue/dist/antd.css';
@import "./plugins/bootstrap.css";

@import "~owl.carousel/src/scss/owl.carousel";
@import "~owl.carousel/src/scss/owl.theme.default";

@import "./plugins/daterangepicker.css";

@import "./plugins/bootstrap-slider.css";
@import "./plugins/simplebar.css";
@import "./plugins/suggestions.css";

@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";
@import '~ant-design-vue/lib/modal/style/index.css';

@import "newstyle/main";
