//CONTACTS PAGE
.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 52px;

    &-block {
        width: 23%;
        margin-bottom: 78px;

        img {
            width: 100%;
        }

        p {
            margin: 0;
        }

        p:nth-child(2) {
            span {
                min-height: 54px;
                display: block;
                margin-bottom: 20px;
                margin-top: 15px;
                font-family: Monsterrat-bold;
                font-size: 16px;
                line-height: 20px;
                color: #768FA6;
            }
        }

        p:nth-child(3) {
            display: block;
            margin-bottom: 8px;
            font-family: Monsterrat-medium;
            font-size: 16px;
            line-height: 27px;
            text-transform: uppercase;
            color: #000000;
        }

        p:nth-child(4) {
            font-family: Monsterrat-medium;
            font-size: 16px;
            line-height: 27px;
            color: #171717;
            opacity: .6;

            &:hover {
                color: #1D86E0;
                text-decoration: underline;
            }
        }
    }

    &-map {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;

        &-title {
            flex: 1;
            padding: 32px 0;
            p {
                font-family: Monsterrat-bold;
                font-size: 18px;
                color: #637F99;
                margin-bottom: 30px;
            }

            span {
                display: block;
                font-family: Monsterrat-regular;
                font-size: 16px;
                color: #000000;
                margin-bottom: 8px;
            }

            .support-btn {
                padding: 16px 24px;
                width: 258px;
                min-height: 59px;
                background: #1D86E0;
                border: none;
                color: #fff;
                border-radius: 4px;
                font-family: Monsterrat-regular;
                font-size: 16px;
                margin-bottom: 64px;
            }

            a {
                margin-bottom: 24px;
                display: block;
            }
        }

        .map {
            width: 65%;
        }

        .rekvizity {
            flex: 1;
            background: url('/images/pages/contacts/rekvizity_bgr.png') 50% 50% no-repeat;
            background-size: cover;
            padding: 32px 40px;
            min-width: 55%;

            .title {
                font-family: Monsterrat-bold;
                font-size: 18px;
                color: #637F99;
                margin-bottom: 30px;
            }

            .name {
                font-family: Monsterrat-bold;
                font-size: 16px;
                color: #000000;
                margin-bottom: 16px;
            }

            .data {
                table {
                    tr {
                        td {
                            padding: 8px;
                            font-family: 'Monsterrat-regular';
                            font-size: 16px;

                            &:nth-child(2n + 1) {
                                color: #637F99;
                            }

                            &:nth-child(2n) {
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }

    &-mailaddress {
        background: url('../../images/pages/contacts/mails_bg.png') #1D86E0;
        padding-top: 67px;
        padding-bottom: 67px;
        // padding-left: 401px;
        // padding-right: 259px;
        padding-left: 310px;
        color: #fff;
        margin-bottom: 94px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: -20% 20%;

        p {
            margin: 0;
            margin-bottom: 24px;

            &:nth-child(1) {
                font-family: Monsterrat-bold;
                font-size: 24px;
                line-height: 29px;
            }

            &:nth-child(2),
            &:nth-child(4) {
                font-family: Monsterrat-regular;
                margin-bottom: 0;
            }
        }

    }
}

@media screen and (max-width: 1024px) {
.contacts {
        justify-content: unset;

        &-block {
            width: 30%;
            // margin: 0 11.5px 78px;

        }

        &-map {
            // flex-direction: column;
            // flex-wrap: nowrap;
            // justify-content: unset;

            .map {
                width: 100%;
                height: 379px;
            }
        }

        &-mailaddress {
            background-position: -38% 13%;
            padding: 25px;
        }
    }
}


@media screen and (max-width: 991px) {
    .contacts-map {
        flex-direction: column-reverse;

        .rekvizity {
            padding: 25px;
        }
    }

}

@media screen and (max-width: 768px) {
    //CONTACTS PAGE
    .contacts {
        justify-content: unset;

        &-block {
            width: 30%;
            // margin: 0 11.5px 78px;

        }

        &-map {
            .map {
                width: 100%;
                height: 400px;
            }
        }

        &-mailaddress {
            background-position: -38% 13%;
            padding: 25px;
        }
    }
}

@media screen and (max-width: 767px) {
    //CONTACTS PAGE
    .contacts {
        &-block {
            width: 51%;
            // margin: 0 auto 78px;

            img {
                width: unset;
            }
        }

        &-map {
            .map {
                width: 100%;
                height: 379px;
            }
        }

        &-mailaddress {
            background-position: -38% 13%;
            padding: 25px;
        }
    }
}

@media screen and (max-width: 500px) {
    //CONTACTS PAGE
    .contacts {
        &-block {
            width: 100%;
            // margin: 0 auto 78px;

            img {
                width: 100%;
            }
        }

        &-map {
            .map {
                width: 100%;
                height: 379px;
            }

            .rekvizity .data table tr td {
                font-size: 12px;
            }
        }

        &-mailaddress {
            background-position: -38% 13%;
            padding: 25px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 320px) {
    .contacts-map .rekvizity .data table tr td {
        padding: 4px;
    }
}