

.have-questions,
.news-block {
    margin-top: 50px;
    &_subscribe-block {
        background: #1D86E0 url('../../images/plains.png');
        padding: 51px 63px;
        background-repeat: no-repeat;
        background-position-y: center;
        border-radius: 4px;
        margin-bottom: 40px;
        margin-top: 40px;
        color: #fff;
        p {
            margin: 0;

            &:nth-child(1) {
                font-family: Monsterrat-bold;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 12px;
            }

            &:nth-child(2) {
                font-family: Monsterrat-thin;
                margin-bottom: 40px;
            }
        }
    }

    .form-block {
        // width: 30%;
        // margin-right: 43px;
        // position: relative;




        /* The container */
        .checkbox {
            display: flex;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            align-items: center;
            // justify-content: space-between;
            // flex-wrap: wrap;

            label {
                font-family: Monsterrat-regular;
                font-size: 16px;
                line-height: 27px;
                color: #fff;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                width: 84%;
                position: unset;
                padding-left: 0;
                margin-bottom: 0;

                a {
                    color: #fff;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

        /* Hide the browser's default checkbox */
        .checkbox input {
            // opacity: 0;
            // cursor: pointer;
            // height: 0;
            // width: 0;
            display: none;
        }

        /* Create a custom checkbox */
        .checkmark {
            height: 16px;
            width: 16px;
            // margin: 10px 0;
            background-color: #fff;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 2px;
            position: relative;
            margin-right: 24px;
        }

        /* On mouse-over, add a grey background color */
        .checkbox:hover input ~ .checkmark {
            background-color: #fff;
        }

        /* When the checkbox is checked, add a blue background */
        .checkbox input:checked ~ .checkmark {
            background-color: #fff;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark::after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .checkbox input:checked ~ .checkmark::after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkbox .checkmark::after {
            position: absolute;
            left: 5px;
            top: 0;
            right: 0;
            bottom: 0;
            width: 7px;
            height: 12px;
            border: 1.5px solid #2196F3;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }




        &.full-width {
            width: 100%;
            // margin: 0;
        }

        &:nth-child(3) {
            margin-right: 0px;
            padding-left: 0px;
        }

        input {
            &:focus,
            &:not(:placeholder-shown),
            &:-webkit-autofill {
                outline: none;

                & + label {
                    font-size: 11px;
                    line-height: 14px;
                    top: 0 !important;
                }
            }
        }

        label {
            font-family: Monsterrat-regular;
            font-size: 16px;
            line-height: 27px;
            color: #5E7B96;
            position: absolute;
            top: 25%;
            transition: all 0.3s ease-in-out;
            padding-left: 0.75rem;
        }

        .height-inp {
            min-height: 55px;
            font-family: Monsterrat-regular;
            font-size: 16px;
            line-height: 27px;
            color: #171717;


            &.disabled {
                background: #a2a2a2;

                &:hover {
                    background: #a2a2a2;
                }
            }
        }
    }
}

.have-questions {
    .form-block {
        width: 30%;
        margin-right: 43px;
        position: relative;

        .but-inp {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            background-clip: padding-box;
            border-radius: 0.25rem;
            background: #1D86E0;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            color: #fff;

            &:hover {
                background: #1376CB;
            }
        }
    }
}

.news-block {
    .form-block {
        width: 30%;
        margin-right: 0;
        position: relative;

        .but-inp {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            background-clip: padding-box;
            border-radius: 0.25rem;
            background: #1D86E0;
            border-radius: unset;
            border: 1px solid #fff;
            color: #fff;

            &:hover {
                background: #1376CB;
            }
        }

        &:nth-child(1) {
            width: 61%;

            input {
                border-radius: unset;
                // border: none;
            }
        }
    }
}

.text-page {
    .have-questions {
        margin: 100px 0 70px;
        background: url('../../images/question_mark.png') #1D86E0;
        padding: 56px 63px;
        color: #fff;
        background-repeat: no-repeat;
        background-position: -17% 30%;

        p {
            margin: 0;

            &:nth-child(1) {
                font-family: Monsterrat-bold;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 12px;
            }

            &:nth-child(2) {
                font-family: Monsterrat-thin;
                margin-bottom: 40px;
            }
        }


    }
}



@media screen and (max-width: 1024px) {
    .have-questions,
    .news-block_subscribe-block {
        form {
            flex-direction: column;
        }

        .form-block {
            width: 80%;
            margin: 15px auto;

            &:nth-child(3) {
                margin: 15px auto;
            }

            &.full-width {
                width: 80%;
                // margin: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .have-questions,
    .news-block_subscribe-block {
        form {
            flex-direction: column;
        }

        .form-block {
            width: 80%;
            margin: 15px auto;

            &:nth-child(3) {
                margin: 15px auto;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .text-page {
        .have-questions,
        .news-block_subscribe-block {
            padding: 10px;

            form {
            }

            .form-block {
                width: 100%;

                &:nth-child(3) {
                }
            }
        }
    }

    .have-questions .form-block .checkbox label,
    .news-block_subscribe-block .form-block .checkbox label {
        font-size: 10px;
        line-height: 12px;

        a {
            font-size: 10px;
            line-height: 12px;
        }
    }
}