* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0;
  font-family: $font;
  color: $text;
  background: $bg;
}

a { color: inherit; text-decoration: none; }
button, input { font-family: inherit; }

.container {
  width: $container;
  margin: 0 auto;
}

.main { padding-bottom: 60px; }
.section { padding: 22px 0 38px; }

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: rgba(15,23,42,.15);
  border-radius: 4px;
}

.icon--chev { width: 10px; height: 10px;
    background: url("../../../images/icon--chev.svg") 50% 50% no-repeat;
    border-radius: 0px;
    background-size: contain;
}

.icon--search, .icon--search-white { border-radius: 50%; }
.icon--bell, .icon--map, .icon--like, .icon--comment, .icon--views { border-radius: 4px; }
.icon--search-white { background: rgba(255,255,255,.9); }
