@mixin center {
  display: flex;
  align-items: center;
}

@mixin between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
